/* Colors

White: #FCFFF5
Red: #682321
DarkBlue: #193441
LightBlue: #799AA5
https://color.adobe.com/Honey-Pot-color-theme-1490158/edit/?copy=true

danger - #e41a1c
sales - #377eb8
lovely - #4daf4a
event - #984ea3
clean - #ff7f00
mobility - #ffff33

*/


/* General styles */
body {
    padding: 0;
    margin: 0;
}
html, body{
    width: 100%;
    height: 100%;
}

.container {
    width: 100%;
}
a{
    cursor: pointer;
}

/* navbar */

/* navbar */
.navbar-default {
    background-color: #799AA5;
    border-color: #799AA5;
}
/* title */
.navbar-default .navbar-brand {
    color: #FCFFF5;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #FCFFF5;
}
/* link */
.navbar-default .navbar-nav > li > a {
    color: #FCFFF5;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: black;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #FCFFF5;
    background-color: #E7E7E7;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #D5D5D5;
}
/* caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #777;
    border-bottom-color: #777;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #333;
    border-bottom-color: #333;
}
.navbar-default .navbar-nav > .open > a .caret,
.navbar-default .navbar-nav > .open > a:hover .caret,
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #555;
    border-bottom-color: #555;
}
/* mobile version */
.navbar-default .navbar-toggle {
    border-color: #DDD;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #DDD;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #CCC;
}

/*
.nav>li>a {
    color: #555;
}

.nav>li>a:hover {
    text-decoration: none;
    color: black;
    background-color: transparent;
    font-weight: bold;
}
.navbar-inner {
    background:transparent;
    color: black;
}
.navbar-default {
    background:'black';
    color: black;
    border-color: transparent;
}
*/

/* Map */

#map-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
/*    padding-top: 47px;*/
}

#map {
    width: 100%;
    height: 100%;
}

#button-wrapper {
    position: absolute;
    bottom: 20px;
    width: 100%;
}

#button-wrapper-category {
    margin-bottom: 20;
    display: none;
}

#input-categoryTags-error{
    color: red;
}
.modal-header {
    color: white;
}
.modal-danger {
    background-color: #e41a1c;
    color: white;
}
.modal-sales {
    background-color: #377eb8;;
    color: white;
}
.modal-lovely {
    background-color: #4daf4a;
    color: white;
}

.modal-event {
    background-color: #984ea3;
    color: white;
}
.modal-clean {
    background-color: #ff7f00;;
    color: white;
}
.modal-mobility {
    background-color: #ffff33;
    color: white;
}
.modal-footer {
}

#input-categoryTags{
    width: 100%
}

/* List */

.table-wrapper {
    margin-top: 60px;
    width: 100%;
    height: 85%;
    margin-bottom: 0;
    overflow: auto;
}
.list-loading {
    text-align: center;
    margin-bottom: 20px;
}

.list-symbol{
    width: 10%;
    float: left;
    padding-top: 3.3;
}
.list-content{
    width: 65%;
    float: left;
}
.list-distance{
    width: 25%;
    float: left;
    text-align: center;
}
/* Event */

.buttonAddMarker {
    color: white;
    font-size: 30px;
    background-color: #193441;
    border-color: #193441;
}

.buttonAddMarker-clicked {
    color: white;
    font-size: 28px;
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
    display: none;
    margin-right: 5px
}
.buttonAddMarker-setMarker {
    color: white;
    font-size: 28px;
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
    display: none;
    margin-left: 5px
}

/* Button Types*/
.button-category {
    font-size: 50px;
    margin: 10px;
    color: white;
    border-radius: 20;
}
.button-category-subtitle{
    font-size: 13px;
}

#button-event {
    background-color: #984ea3;
    border-color: #984ea3;
}

#button-event:hover {
  color: black;
  background-color: #984ea3;
  border-color: #984ea3;
}

#button-lovely {
    background-color: #4daf4a;
    border-color: #4daf4a;
}

#button-lovely:hover {
  color: black;
  background-color: #4daf4a;
  border-color: #4daf4a;
}

#button-sales {
    background-color: #377eb8;
    border-color: #377eb8;
}

#button-sales:hover {
  color: black;
  background-color: #377eb8;
  border-color: #377eb8;
}
#button-mobility {
    background-color: #ffff33;
    border-color: #ffff33;
}

#button-mobility:hover {
  color: black;
  background-color: #ffff33;
  border-color: #ffff33;
}

#button-clean {
    background-color: #ff7f00;
    border-color: #ff7f00;
}
#button-clean:hover {
  color: black; 
  background-color: #ff7f00;
  border-color: #ff7f00;
}

#button-danger {
    background-color: #e41a1c;
    border-color: #e41a1c;
}
#button-danger:hover {
  color: black; 
  background-color: #e41a1c;
  border-color: #e41a1c;
}

.button-closemodal {
    font-size: 30px
}
.button-saveevent {
    font-size: 30px
}

.tags {
    font-size: 12px;
    background-color: beige;
    display: inline-block;
    margin-right:2px;
    margin-bottom:2px;
    line-height: 1.3333333;
    border-radius: 2px;
    border-color: black;
    padding: 5px;
}

.popup-tags{
    margin-top: 1px;
    border-top: 1px solid #e2e2e2;
    padding-top: 4px;
}
#modalMarker{
    margin-top: 50px;
    
}

#modal-buttonWrapper{
    margin-bottom: 30px; 
}

.btn-modal{
    float: right;
    margin-left: 10;
    
}

.btn-timerange{
   font-size: 50px;
}

.ui-slider .ui-slider-handle { 
    width: 40px;
    height: 38px;
/*    background: #682321;*/
    background: grey;
}

.ui-widget-content {
    height: 28px;
}


/* Custom search field*/

#custom-search-input{
    position: absolute;
    top: 10px;
    margin-left: 40px;
    width: 80%;
/*    padding: 3px;*/
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
    margin-bottom: 5px;
}

.btnSearch{
    padding: 9px 12px;
}


/* Individual markers */
.MarkerInfo{
    background: url(../img/noun_307154_cc.svg) no-repeat center center; 
    height: 100%;
    width: 100%;
    color: #FCFFF5;
    background-size: cover;
}

.leaflet-control-locate a {
    padding: 4px 0 0 6px;
}

.my-icon {
  border-radius: 100%;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  color: white;
  margin-left: -10px;
  padding-top: 4px;

}

.icon-dc-event {
  background: #105B63;
  border: 2px rgba(#105B63, 2);
}
.icon-sf-event {
  background: #105B63;
}
.icon-dc-info {
  background: #FFD34E;
}
.icon-sf-info {
  background: #FFD34E;
}
.icon-dc-warning {
  background: #BD4932;
}
.icon-sf-warning {
  background: #BD4932;
}

/* Adjustment for media */

@media(max-width:767px) {

    #map {
    height: 70%;
    }

    .table-wrapper {
    margin-top: 15px;
    }

    .form-control {
       font-size: 18px;
       height: 55px;
    }
    .btnSearch{
    font-size: 30px;
    }
    .leaflet-control-locate a {
    padding: 3px 10 0 8px;
    height: 40px;
    width: 40px;
    font-size: 35px;
    }
    .button-category {
    font-size: 55px;
    margin: 10px;
    color: white;
    border-radius: 20;
    }
    .button-category-subtitle{
    font-size: 14px;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #333;
    }
}





