<head>
    {% load staticfiles %}
    
    <!-- Leaflet -->
    <link rel="stylesheet" href="{% static 'geomap/leaflet/leaflet.css' %}" />
        
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="{% static 'geomap/css/bootstrap.min.css' %}" />
    
    <!-- Custom Fonts -->
    <link href="{% static 'geomap/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    
    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'geomap/css/detail.css' %}" />
    

</head>

<body>
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                    <a class="navbar-brand" rel="home" href="" title="rivutec">
                        <img src="{% static 'geomap/img/logo_FS3 icon.png' %}" alt="Logo" height="40px"/>
    </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="" id="buttonExplanation">Explanation</a>
                    </li>
                    <li>
                        <a href="{{ STATIC_URL }}/geomap/1/feedback"> Next Page <span class="glyphicon glyphicon-chevron-right"></span></a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <!-- / Navigation -->
    <!-- Page Content -->
    <div class="content-section-a">
        <div class="container">
            
        <div class="row">
            <div class="col-md-10">
                <form id = 'addChoice' name = 'addChoice' action="{% url 'geomap:addChoice' map.id %}" method="post" class="form-inline">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="text" class="form-control" id="queryText" placeholder="e.g. Thai food" name="store">
                    </div>
                    <div class="form-group">
                        <label for="radius">Max. distance</label>
                        <input type="number" class="form-control" id="queryRadius" placeholder="e.g. 200 m" name="radius">
                    </div>
                    <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Choice</button>
                    <button type="button" id="buttonResetMap" class="btn btn-warning"><span class="glyphicon glyphicon-remove"></span> All Choices</button>
                    <div id='errorMessage' class = 'errorMessage'></div>
                </form>
            </div>
            <div class="col-md-2">
            </div>
        </div>
        <div class="row">
            <div class="col-md-10">
                <div id="mapImage"></div>
            </div>
             <div class="col-md-2">
                 <div> 
                     <div style='widht=100%;'>Legend</div>
                     <div id = "legendBoxes" style="margin-top: 5px;">
                        <button type="button" class="btn btn-default boxChoicesAll">All Choices combined</button>
                      {% if choices_list %}
                          {% for choice in choices_list %}
                            <button type="button" class="btn btn-default boxChoice" data-id={{choice.id}} style="background-color:{{ choice.choice_colour }};">
                                {{ choice.choice_text }} |   
                                {{ choice.choice_radius }}m radius
                        </button>
                        {% endfor %}
                      {% endif %}
                </div>
            </div>
    </div>
</div>
<!-- /.container -->
</div>
        
<!-- Modal -->
<div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Explanation</h4>
      </div>
      <div class="modal-body">
          <p>The following tools tries to simplify the search for locations, where several requirements from the user have to be met. </p>
          <p>A search query can look like the following: Please show me all the places in London, where there is a pub within a 50 min radius and a thai food restaurant within a 200m radius.</p>
          <button type="button" class="btn btn-default" style="background-color:#4daf4a;">pub | 50m radius</button>
          <button type="button" class="btn btn-default" style="background-color:#377eb8;">thai food | 200m radius</button>
           <p> For you to get the highest payout from this MTURK HIT, you are required to complete two tasks. First, try out the tool, add search queries and delete search queries by clicking on the button under the legend.</p>
          
 <p> Second, go to the next page and give us some feedback on your experience. The quality of your feedback and ideas will determine your payout. </p>
Thank you and have fun!
      </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

<script src="{% static 'geomap/leaflet/leaflet.js' %}"></script>
<script src="{% static 'geomap/js/csrfSafeMethod.js' %}"></script>
<script src="{% static 'geomap/js/bootstrap.min.js' %}"></script>

<script type="text/javascript">
    
    $(window).load(function(){
        $('#myModal').modal('show');
    });
    
    $("#buttonExplanation").click(function(){
        $('#myModal').modal('show');
    });
    
    var polygonStyle = {
    "color": "#682321",        
    "weight": 1,
    "fillOpacity": 0.8,
    "fillColor": "#682321"    
    };
    
    var center_lat = "{{ map.map_center_lat }}"
    var center_lon = "{{ map.map_center_lon }}"
    
    var map = L.map('mapImage').setView([center_lat, center_lon], 14);

    L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
        attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
        maxZoom: 18,
        id: 'cgrossbaier.ok6pb6m1',
        accessToken: 'pk.eyJ1IjoiY2dyb3NzYmFpZXIiLCJhIjoiY2lpeDIwdDk5MDAwMnVybTA1NXVwMWd0diJ9.Y5Sdoofp1m9aexIJGwmi_A'
    }).addTo(map);
    
    var polygons_Layer = L.layerGroup();
    var polygons_Choices_Layer = L.layerGroup();
    
    polygons_Layer.addTo(map)
    polygons_Choices_Layer.addTo(map)
    
    var polygons_choice = {{polygon_Choices_geoGESON | safe }}
    var polygon_Choices_colours = {{polygon_Choices_colours | safe }}
            
    for (var i = 0; i < polygons_choice.length; i++) {
            var polygonStyle_Choice = {
                "weight": 1,
                "color": polygon_Choices_colours[i],
                "fillOpacity": 0.1,
                "fillColor": polygon_Choices_colours[i]    
            };
            polygons_Choices_Layer.addLayer(L.geoJson(JSON.parse(polygons_choice[i]), 
                      {style: polygonStyle_Choice}));
    }
    
    if ('{{ polygon | safe }}' != "None"){
        polygons_Layer.addLayer(L.geoJson({{ polygon | safe }}, 
                  {style: polygonStyle}));
    }
    
            
    $(document).ready(function(){
        
    map.on('moveend', function(e) {
        var data= {changeType: 'changePosition', 
                   lat: map.getCenter().lat, 
                   lon: map.getCenter().lng};
        var link = "/geomap/"+{{map.id}}+"/changeMap/";
	
        $.post(link, data, function(){
        }); 
});
    map.on('zoomend', function(e) {
        var data= {changeType: 'changeZoom', 
                   zoom: map.getZoom()};
        var link = "/geomap/"+{{map.id}}+"/changeMap/";
	
        $.post(link, data, function(){
        });  
});
    
    $( "#buttonResetMap" ).click(function() {
        var data= {changeType: 'resetMap'};
        var link = "/geomap/"+{{map.id}}+"/changeMap/";
	
        $.post(link, data, function(response){
        if (response.status == 'resetMap'){
            polygons_Choices_Layer.clearLayers()
            polygons_Layer.clearLayers()
            var buttons = document.getElementsByClassName('boxChoice');
            i = buttons.length;
            while(i--) {
                buttons[i].parentNode.removeChild(buttons[i]);
            }
        }
        });  
});
    
    $(".boxChoice").click( function(ev) {
        var data= {changeType: 'deleteChoice', choiceID : ev.target.getAttribute("data-id")};
        var link = "/geomap/"+{{map.id}}+"/changeChoice/";
        $.post(link, data, function(response){
            if (response.status == 'Choice deleted'){

                // Update polygons_Layer
                polygons_Layer.clearLayers()
                polygons_Layer.addLayer(L.geoJson(JSON.parse(response.polygon_geoGESON), 
                          {style: polygonStyle}));

                // Update polygons_Choices_Layer
                polygons_Choices_Layer.clearLayers();
                var polygons_choice = response.polygon_Choices_geoGESON;
                var polygon_Choices_colours = response.polygon_Choices_colours;

                for (var i = 0; i < polygons_choice.length; i++) {
                        var polygonStyle_Choice = {
                            "weight": 1,
                            "color": polygon_Choices_colours[i],
                            "fillOpacity": 0.1,
                            "fillColor": polygon_Choices_colours[i]    
                        };
                        polygons_Choices_Layer.addLayer(L.geoJson(JSON.parse(polygons_choice[i]), 
                                  {style: polygonStyle_Choice}));
                }

                // Delete button
                ev.target.parentNode.removeChild(ev.target);
            }

        }); 

});
    
    // With on():
    $("#legendBoxes").on("click", ".boxChoice", function(ev){
        var data= {changeType: 'deleteChoice', choiceID : ev.target.getAttribute("data-id")};
        var link = "/geomap/"+{{map.id}}+"/changeChoice/";
        $.post(link, data, function(response){
            if (response.status == 'Choice deleted'){

                // Update polygons_Layer
                polygons_Layer.clearLayers()
                polygons_Layer.addLayer(L.geoJson(JSON.parse(response.polygon_geoGESON), 
                          {style: polygonStyle}));

                // Update polygons_Choices_Layer
                polygons_Choices_Layer.clearLayers();
                var polygons_choice = response.polygon_Choices_geoGESON;
                var polygon_Choices_colours = response.polygon_Choices_colours;

                for (var i = 0; i < polygons_choice.length; i++) {
                        var polygonStyle_Choice = {
                            "weight": 1,
                            "color": polygon_Choices_colours[i],
                            "fillOpacity": 0.1,
                            "fillColor": polygon_Choices_colours[i]    
                        };
                        polygons_Choices_Layer.addLayer(L.geoJson(JSON.parse(polygons_choice[i]), 
                                  {style: polygonStyle_Choice}));
                }

                // Delete button
                ev.target.parentNode.removeChild(ev.target);
            }

        }); 
    });

    $( "#buttonFeedback" ).click(function() {
        window.location.href = window.location.href + 'feedback' 
});

    $('#addChoice').submit(function (e) {
         e.preventDefault();
         var data= {queryText: $('#queryText').val(),
                    queryRadius: $('#queryRadius').val()};

        var link = "/geomap/"+{{map.id}}+"/addChoice/";
        	
        $.post(link, data, function(response){
        if (response.status == 'Okay'){
            
            polygons_Layer.clearLayers()
            polygons_Layer.addLayer(L.geoJson(JSON.parse(response.polygon_geoGESON), 
                      {style: polygonStyle}));
            
            $('#errorMessage').text('');
            var polygonStyle_Choice = {
                "weight": 1,
                "color": response.choice_colour,
                "fillOpacity": 0.1,
                "fillColor": response.choice_colour    
            };
            polygons_Choices_Layer.addLayer(L.geoJson(JSON.parse(response.choice_polygon), 
                      {style: polygonStyle_Choice}));
            
            choiceButton = document.createElement("input");
            choiceButton.type = "button";
            choiceButton.setAttribute("class", "btn btn-default boxChoice");
            choiceButton.setAttribute('data-id' , response.choice_id);
            choiceButton.style.background = response.choice_colour;
            choiceButton.value = response.choice_text + ' | ' + response.choice_radius + 'm radius';
            legendBoxes = document.getElementById("legendBoxes");
            legendBoxes.appendChild(choiceButton);
        }
        else{
            $('#errorMessage').text(response.message);
        }
        }); 
     });   
});    
</script>
</body>