<!DOCTYPE html>
<html lang="de">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- META DATA -->
    <title>rivutec | Echtzeit Überwachung von Anlagen und Predictive Maintenance</title>
    <meta name="description" content="Überwachung und Analyse für Anlagen im Mittelstand">
    <meta name="keywords" content="Überwachung,Sensoren,Predictive Maintenance,Mittelstand,Cloud,Big Data, Machine Learning, Manufacturing, Preventive Maintenance,Germany,Startup,Rapid Prototyping, IoT, Internet of Things, Internet der Dinge, Industrial Internet, Industrie 4.0">
    <meta name="author" content="Christoph Grossbaier, rivutec">
    
    <!-- ICON -->    
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="http://www.rivutec.com/img/icon/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://www.rivutec.com/img/icon/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://www.rivutec.com/img/icon/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://www.rivutec.com/img/icon/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="http://www.rivutec.com/img/icon/apple-touch-icon-60x60.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="http://www.rivutec.com/img/icon/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="http://www.rivutec.com/img/icon/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="http://www.rivutec.com/img/icon/apple-touch-icon-152x152.png" />
    <link rel="icon" type="image/png" href="http://www.rivutec.com/img/icon/favicon-196x196.png" sizes="196x196" />
    <link rel="icon" type="image/png" href="http://www.rivutec.com/img/icon/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="http://www.rivutec.com/img/icon/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="http://www.rivutec.com/img/icon/favicon-16x16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="http://www.rivutec.com/img/icon/favicon-128.png" sizes="128x128" />
    <meta name="application-name" content="rivutec | Echtzeit Überwachung"/>
    <meta name="msapplication-TileColor" content="#FCFFF5" />
    <meta name="msapplication-TileImage" content="http://www.rivutec.com/img/icon/mstile-144x144.png" />
    <meta name="msapplication-square70x70logo" content="http://www.rivutec.com/img/icon/mstile-70x70.png" />
    <meta name="msapplication-square150x150logo" content="http://www.rivutec.com/img/icon/mstile-150x150.png" />
    <meta name="msapplication-wide310x150logo" content="http://www.rivutec.com/img/icon/mstile-310x150.png" />
    <meta name="msapplication-square310x310logo" content="http://www.rivutec.com/icon/img/mstile-310x310.png" />
    
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/landing-page.css" rel="stylesheet">
    <link href="css/timeline.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    
</head>

<body>

    <!-- Navigation -->
    <div id="Navigation"></div>
    <!-- / Navigation -->

    <!-- Header -->
    <a name="about"></a>
    <div class="intro-header-subpage">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Implementierung</h1>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

        <!-- Page Content -->
        <div class="content-section-management">
        <div class="container">
        
    <ul class="timeline">
        <li>
          <div class="timeline-badge"><div class="circle">1</div></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Use Case Identifizierung</h4>
            </div>
            <div class="timeline-body">
              <p>Zu Beginn werden in einem Workshop mit allen relevanten Stakeholdern potentielle Anwendungsbereiche für eine Echtzeitüberwachung identifiziert. Hierbei wird der Frage nachgegangen, in welchen Prozessschritten durch Echtzeit-Überwachung und Vorhersage Werte geschaffen werden können.</p>
<!--
                <div class="span4 collapse-group">
                    <p><a class="btn-usecase">Fallbeispiel</a></p>
                <p class="collapse">In einem Workshop mit rivutec wurde eine Maschine identifiziert, die stets in einem Vibrationsband betrieben werden muss. Diese Maschine hat Vibrationssensoren, deren Werte an der Maschine angezeigt werden. Mitarbeiter müssen diese Vibrationswerte regelmäßig vor Ort nachprüfen. Dieser Vorgang ist zeitaufwändig und kritische Zustände können nicht vorhergesagt werden. </p>
                                        </div>
-->
                <a tabindex="1" class="btn btn-lg btn-usecase" role="button" data-toggle="popover" data-trigger="focus" data-placement="bottom" title="Status quo" data-content="In einem Workshop mit rivutec wurde eine Maschine identifiziert, die stets in einem Vibrationsband betrieben werden muss. Diese Maschine hat Vibrationssensoren, deren Werte an der Maschine angezeigt werden. Mitarbeiter müssen diese Vibrationswerte regelmäßig vor Ort nachprüfen. Dieser Vorgang ist zeitaufwändig und kritische Zustände können nicht vorhergesagt werden. ">Fallbeispiel</a> 

            </div>
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-badge"><div class="circle">2</div></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Installation der Sensoren</h4>
            </div>
            <div class="timeline-body">
              <p>Sensoren werden an den gewünschten Prozessschritten installiert und über Kommunikationsschnittstellen in unsere Lösung eingebunden. Die auf Raspberry Pie oder Arduino basierenden Kommunikationsschnittstellen bieten hierbei maximale Flexibilität bezüglich der Einsatzszenarien. </p>
<!--
            <div class="span4 collapse-group">
                    <p><a class="btn-usecase">Fallbeispiel</a></p>
                <p class="collapse">Rivutec bringt Sensoren an die Maschine an und verbindet sie mit einem Cloudserver. Echtzeitmesswerte werden nun zentral erfasst und können von beliebigen Endgeräten ausgewertet werden. </p>
            </div>
-->
                                <a tabindex="2" class="btn btn-lg btn-usecase" role="button" data-toggle="popover" data-trigger="focus" data-placement="bottom" title="Sensoren" data-content="Rivutec bringt Sensoren an die Maschine an und verbindet sie mit einem Cloudserver. Echtzeitmesswerte werden nun zentral erfasst und können von beliebigen Endgeräten ausgewertet werden. ">Fallbeispiel</a> 
            </div>
          </div>
        </li>
        <li>
          <div class="timeline-badge"><div class="circle">3</div></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Software Lösung</h4>
            </div>
            <div class="timeline-body">
              <p>Die Sensordaten werden in zertifizierten Datencentern gespeichert und analysiert. Unsere Software ermöglicht die schnelle Auswertung  und Präsentation der Daten sowie die Anwendung von statistischen Vorhersagemodellen und Machine Learning Algorithmen.</p>
<!--
            <div class="span4 collapse-group">
                    <p><a class="btn-usecase">Fallbeispiel</a></p>
                <p class="collapse">
                Grenzwerte für kritische Zustände können festgelegt werden. Darauf basierend werden Warnungen bei kritischen Zuständen automatisch erstellt und versendet.<br>Basierend auf historischen Werte können nun Muster erkannt werden und durch statistische Methoden abgebildet werden. Die Vorhersage von kritischen Zuständen kann kritische Events verhindern.
 </p>
            </div>
-->                                
                <a tabindex="3" class="btn btn-lg btn-usecase" role="button" data-toggle="popover" data-trigger="focus" data-placement="bottom" title="Datenauswertung" data-content="Grenzwerte für kritische Zustände können festgelegt werden. Darauf basierend werden Warnungen bei kritischen Zuständen automatisch erstellt und versendet. Basierend auf historischen Werte können nun Muster erkannt werden und durch statistische Methoden abgebildet werden. Die Vorhersage von kritischen Zuständen kann kritische Events verhindern.">Fallbeispiel</a> 
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
            <div class="timeline-badge"><div class="circle">4</div></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Schnelle Iterationszyklen</h4>
            </div>
            <div class="timeline-body">
              <p>Veränderungen am Pilotaufbau können schnell durchgeführt und getestet werden. Dabei können Sensoren bei jedem                             Iterationsschritt angepasst werden. Die Nutzenbetrachtung für den Kunden steht im Zentrum.</p>
<!--
                <div class="span4 collapse-group">
                    <p><a class="btn-usecase">Fallbeispiel</a></p>
                <p class="collapse">
                Die Maschine wird nur bei kritischen oder wahrscheinlich kritischen Zuständen betrachtet und es kann rechtzeitig eingegriffen werden.<br>Änderungen an den Sensoren können jederzeit durchgeführt werden, um das optimale Ergebnis zu erhalten.
 </p>            </div>
-->
                                <a tabindex="4" class="btn btn-lg btn-usecase" role="button" data-toggle="popover" data-trigger="focus" data-placement="bottom" title="Ergebnis" data-content="Die Maschine wird nur bei kritischen oder wahrscheinlich kritischen Zuständen betrachtet und es kann rechtzeitig eingegriffen werden. Änderungen an den Sensoren können jederzeit durchgeführt werden, um das optimale Ergebnis zu erhalten.">Fallbeispiel</a> 
            </div>
          </div>
        </li>
    </ul>
</div>
    
    <!-- Banner -->
    <div id="Banner"></div>
    <!-- / Banner -->

    <!-- Footer -->
    <div id="Footer"></div>
    <!-- / Footer -->
    
    <!-- jQuery -->
    <script src="js/jquery.js"></script>
    
     <!-- Load HTMLs JavaScript -->
    <script src="js/loadHTMLs.js"></script>
            
    <!-- Load Implementierung JavaScript -->
    <script src="js/implementierung.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    
    <!-- Google Analytics JavaScript -->
    <script src="js/googleAnalytics.js"></script>
        
    
</body>

</html>
