<head>
    {% load staticfiles %}
    
    <!-- Leaflet -->
    <link rel="stylesheet" href="{% static 'geomap/leaflet/leaflet.css' %}" />
        
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'geomap/bootstrap/css/bootstrap.min.css' %}" />
    
    <!-- Custom Fonts -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    
    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'geomap/css/style.css' %}" />
    
</head>

<body>
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
              <div class="container">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="#">Mood map</a>
                </div>
                  <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a><span class="glyphicon glyphicon-user"></span></a>
                        </li>
                        <li>
                            <a><span class="glyphicon glyphicon-asterisk"></span></a>
                        </li>
                    </ul>
                </div>
              </div>
            </nav>
    <!-- / Navigation -->
    
    <!-- Page Content -->
        <div class="container" id="container-login">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-5">
                <form action="{% url 'geomap:checkVerification'%}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
    <label for="verificationCode">Verification Code</label>
    <input type="text" class="form-control" id="verificationCode" placeholder="Verfication Code" name="verificationCode">
  </div>
            <button type="submit" class="btn btn-default">Sign in</button>
                </div>
            {% if error_message %}
                    <h1>{{error_message }}</h1>
            {% endif %}
            </div>
        </div>
<!-- /.container -->

<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="{% static 'geomap/bootstrap/js/bootstrap.min.js' %}"></script>
</body>