<!DOCTYPE html>
<html lang="de">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- META DATA -->
    <title>rivutec | Echtzeit Überwachung von Anlagen und Predictive Maintenance</title>
    <meta name="description" content="Überwachung und Analyse für Anlagen im Mittelstand">
    <meta name="keywords" content="Überwachung,Sensoren,Predictive Maintenance,Mittelstand,Cloud,Big Data, Machine Learning, Manufacturing, Preventive Maintenance,Germany,Startup,Rapid Prototyping, IoT, Internet of Things, Internet der Dinge, Industrial Internet, Industrie 4.0">
    <meta name="author" content="Christoph Grossbaier, rivutec">
    
    <!-- ICON -->
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="http://www.rivutec.com/img/icon/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://www.rivutec.com/img/icon/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://www.rivutec.com/img/icon/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://www.rivutec.com/img/icon/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="http://www.rivutec.com/img/icon/apple-touch-icon-60x60.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="http://www.rivutec.com/img/icon/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="http://www.rivutec.com/img/icon/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="http://www.rivutec.com/img/icon/apple-touch-icon-152x152.png" />
    <link rel="icon" type="image/png" href="http://www.rivutec.com/img/icon/favicon-196x196.png" sizes="196x196" />
    <link rel="icon" type="image/png" href="http://www.rivutec.com/img/icon/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="http://www.rivutec.com/img/icon/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="http://www.rivutec.com/img/icon/favicon-16x16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="http://www.rivutec.com/img/icon/favicon-128.png" sizes="128x128" />
    <meta name="application-name" content="rivutec | Echtzeit Überwachung"/>
    <meta name="msapplication-TileColor" content="#FCFFF5" />
    <meta name="msapplication-TileImage" content="http://www.rivutec.com/img/icon/mstile-144x144.png" />
    <meta name="msapplication-square70x70logo" content="http://www.rivutec.com/img/icon/mstile-70x70.png" />
    <meta name="msapplication-square150x150logo" content="http://www.rivutec.com/img/icon/mstile-150x150.png" />
    <meta name="msapplication-wide310x150logo" content="http://www.rivutec.com/img/icon/mstile-310x150.png" />
    <meta name="msapplication-square310x310logo" content="http://www.rivutec.com/icon/img/mstile-310x310.png" />
    
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/landing-page.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    <!-- Load c3.css -->
    <link href="c3/c3.css" rel="stylesheet" type="text/css">
    
</head>

<body>

    <!-- Navigation -->
    <div id="Navigation"></div>
    <!-- / Navigation -->

    <!-- Header -->
    <a name="about"></a>
    <div class="intro-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>Haben Sie <br>volle Transparenz <br>über den Zustand <br>Ihrer Assets?</h1>
                        <h3>Sensor-Cloud-Systeme von rivutec</h3>
                        <hr class="intro-divider">
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <!-- Page Content -->
    
    <a  name="solution"></a>    
    <div class="content-section-quote">
        <div class="container">
            <div class="row">
           <h3>Rivutec ermöglicht die Echtzeitüberwachung Ihrer Assets und kann kritische Zustände vorhersagen.</h3>
            </div>
        </div>
    </div>

    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <div class="circle">1</div>
                    <h2 class="section-heading">Echtzeitüberwachung von Maschinen</h2>
                    <p class="lead">Echtzeitmesswerte werden zentral erfasst und können von Endgeräten ausgewertet werden. Dafür verwenden wir robuste Sensoren, die an die Cloud angebunden werden. 
</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <div class="charts" id="chartRealTime"></div>
                </div>
            </div>

        </div>
        <!-- /.container 

    </div>
    <!-- /.content-section-a -->

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <div class="circle">2</div>
                    <h2 class="section-heading">Automatische Warnungen bei kritischen Zuständen</h2>
                    <p class="lead">Warnungen können bei kritischen Zuständen automatisch gesendet werden. Grenzwerte können selbst definiert oder durch statistische Modelle abgebildet werden.
</p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <div class="charts" id="chartWarning"></div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <div class="circle">3</div>
                    <h2 class="section-heading">Vorhersage von kritischen Zuständen</h2>
                    <p class="lead">Kritische Zustände können basierend auf historischen Werten statistisch vorhergesagt werden. Dabei können verschiedene Einflussfaktoren berücksichtigt werden.
</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
<!--                    <img class="img-responsive" src="img/phones.png" alt="">-->
                <div class="charts" id="chartPrediction"></div>    
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="content-section-a">    
        <div class="container">
        <div class="row">
            <div class="col-lg-5 col-sm-6">
                    <h2 class="section-heading">Anwendungsgebiete (Auswahl)</h2>
            </div>
        </div>
        <div class="row">
<!--
             Industry 
            <div class="col-md-3 portfolio-item">
                    <img class="img-responsive img-rounded img-responsive-unternehmen" src="../img/Oven_Color.png" alt="">
                <h4>
                    <div class='nameName'>Industrieöfen</div>
                </h4>            
            </div>
-->
            <!-- /Industry -->
            <!-- Industry -->
            <div class="col-md-3 portfolio-item">
                    <img class="img-responsive img-rounded img-responsive-unternehmen" src="../img/PrintingMachine_Color.png" alt="">
                <h4>
                    <div class='nameName'>Maschinen</div>
                </h4>            
            </div>
            <!-- /Industry -->
            <!-- Industry -->
            <div class="col-md-3 portfolio-item">
                    <img class="img-responsive img-rounded img-responsive-unternehmen" src="../img/Map.png" alt="">
                <h4>
                    <div class='nameName'>Verteilte Assets</div>
                </h4>            
            </div>
            <!-- /Industry -->
            <!-- Industry -->
            <div class="col-md-3 portfolio-item">
                    <img class="img-responsive img-rounded img-responsive-unternehmen" src="../img/Trucks.png" alt="">
                <h4>
                    <div class='nameName'>Mobile Assets</div>
                </h4>            
            </div>
            <!-- /Industry -->
        </div>
        <!-- /.row --> 
        </div>
    </div>
            
    <!-- Banner -->
    <div id="Banner"></div>
    <!-- / Banner -->
    
    <!-- Footer -->
    <div id="Footer"></div>
    <!-- / Footer -->
    
    <!-- jQuery -->
    <script src="js/jquery.js"></script>
    
    <!-- Load HTMLs JavaScript -->
    <script src="js/loadHTMLs.js"></script>
    
    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    
    <!-- Load d3.js and c3.js -->
    <script src="js/d3.v3.min.js" charset="utf-8"></script>
    <script src="c3/c3.min.js"></script>
    
    <!-- Charts JavaScript -->
    <script src="js/charts.js"></script>

    <!-- Google Analytics JavaScript -->
    <script src="js/googleAnalytics.js"></script>  
    
    <!-- Google Schema -->
    <script type="application/ld+json" src="js/googleSchema.js"></script>
 
</body>

</html>
