<!DOCTYPE html>
<html lang="de">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- META DATA -->
    <title>rivutec | Echtzeit Überwachung von Anlagen und Predictive Maintenance</title>
    <meta name="description" content="Überwachung und Analyse für Anlagen im Mittelstand">
    <meta name="keywords" content="Überwachung,Sensoren,Predictive Maintenance,Mittelstand,Cloud,Big Data, Machine Learning, Manufacturing, Preventive Maintenance,Germany,Startup,Rapid Prototyping, IoT, Internet of Things, Internet der Dinge, Industrial Internet, Industrie 4.0">
    <meta name="author" content="Christoph Grossbaier, rivutec">
    
    <!-- ICON -->
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="http://www.rivutec.com/img/icon/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://www.rivutec.com/img/icon/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://www.rivutec.com/img/icon/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://www.rivutec.com/img/icon/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="http://www.rivutec.com/img/icon/apple-touch-icon-60x60.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="http://www.rivutec.com/img/icon/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="http://www.rivutec.com/img/icon/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="http://www.rivutec.com/img/icon/apple-touch-icon-152x152.png" />
    <link rel="icon" type="image/png" href="http://www.rivutec.com/img/icon/favicon-196x196.png" sizes="196x196" />
    <link rel="icon" type="image/png" href="http://www.rivutec.com/img/icon/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="http://www.rivutec.com/img/icon/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="http://www.rivutec.com/img/icon/favicon-16x16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="http://www.rivutec.com/img/icon/favicon-128.png" sizes="128x128" />
    <meta name="application-name" content="rivutec | Echtzeit Überwachung"/>
    <meta name="msapplication-TileColor" content="#FCFFF5" />
    <meta name="msapplication-TileImage" content="http://www.rivutec.com/img/icon/mstile-144x144.png" />
    <meta name="msapplication-square70x70logo" content="http://www.rivutec.com/img/icon/mstile-70x70.png" />
    <meta name="msapplication-square150x150logo" content="http://www.rivutec.com/img/icon/mstile-150x150.png" />
    <meta name="msapplication-wide310x150logo" content="http://www.rivutec.com/img/icon/mstile-310x150.png" />
    <meta name="msapplication-square310x310logo" content="http://www.rivutec.com/icon/img/mstile-310x310.png" />
    
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/landing-page.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

    <!-- Navigation -->
    <div id="Navigation"></div>
    <!-- / Navigation -->


    <!-- Header -->
    <div class="intro-header-subpage">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Kontakt</h1>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->
    
    <!-- Page Content -->
    <div class="content-section-a">
        <div class="container">
             <div col-md-5 "img-thumbnail">
                    <div id="feedback"> <div class="container">
<div class="col-md-5">
    <div class="form-area">  
        <form role="form" action="mailto:cg@rivutec.com" method="post" enctype="text/plain" >
        <br style="clear:both">
                    <h3 style="margin-bottom: 25px; text-align: center;">Kontaktformular</h3>
        			<div class="form-group">
						<input type="text" class="form-control" id="name" name="name" placeholder="Name" required>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="email" name="email" placeholder="Email" required>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="subject" name="subject" placeholder="Betreff" required>
					</div>
                    <div class="form-group">
                    <textarea class="form-control" type="textarea" id="message" placeholder="Nachricht" maxlength="140" rows="7"></textarea>
                    </div>
            <script type="text/javascript" src="js/kontakt.js"></script>
        </form>
            
    </div>
</div>
</div> </div> <!--feedback-->
</div>
        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

	<!-- Banner -->
    <div id="Banner"></div>
    <!-- / Banner -->

    <!-- Footer -->
    <div id="Footer"></div>
    <!-- / Footer -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>
    
    <!-- Load HTMLs JavaScript -->
    <script src="js/loadHTMLs.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    
    <!-- Google Analytics JavaScript -->
    <script src="js/googleAnalytics.js"></script>
    
    
</body>

</html>
