<html>
    <head>
        {% load staticfiles %}
        <!--disable unwanted scaling of the page-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <!-- JS: Leaflet  -->
<!--        <link rel="stylesheet" type="text/css" href="{% static 'geomap/css/mapbox.css' %}" />-->
        <link rel="stylesheet" type="text/css" href="{% static 'geomap/css/L.Control.Locate.mapbox.css' %}" />
        <link href='https://api.mapbox.com/mapbox.js/v2.2.3/mapbox.css' rel='stylesheet' />
<!--        <link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-locatecontrol/v0.43.0/L.Control.Locate.mapbox.css' rel='stylesheet' />-->
<!--        <link rel="stylesheet" type="text/css" href="{% static 'geomap/css/leaflet.extra-markers.min.css' %}" />-->
        
        <!-- Custom Bootstrap -->
        <link rel="stylesheet" type="text/css" href="{% static 'geomap/bootstrap/css/bootstrap.min.css' %}" />
    
        <!-- CSS: font-awesome  -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<!--        <link rel="stylesheet" type="text/css" href="{% static 'geomap/css/font-awesome.min.css' %}" />-->
        
        <!-- CSS: jquery  -->
<!--        <link rel="stylesheet" type="text/css" href="{% static 'geomap/css/jquery-ui.css' %}" />-->

        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
        
        <!-- Custom Selectize -->
        <link rel="stylesheet" type="text/css" href="{% static 'geomap/selectize/css/selectize.bootstrap3.css' %}" />

        <!-- Custom Style -->
        <link rel="stylesheet" type="text/css" href="{% static 'geomap/css/style.css' %}" />
    
    </head>
    <body> 
        <nav class="navbar navbar-default navbar-fixed-top">
              <div class="container">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
<!--                  <a class="navbar-brand" href="#">Mood map</a>-->
                </div>
                  <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar">
<!--
               <form class="navbar-form navbar-left">
                  <div class="form-group">
                    <input type="text" id="autocomplete" class="form-control" placeholder="Search for...">
                  </div>
                  <button type="submit" class="btn btn-default btnSearch" id="buttonSearch" ><i class="glyphicon glyphicon-search"></i></button>
                </form>
-->
                <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a><span class="glyphicon glyphicon-user"></span> User</a>
                        </li>
                        <li>
                            <a><span class="glyphicon glyphicon-asterisk"></span> Settings</a>
                        </li>
                        <li>
                            <a id="timeLastSync"></i></a>
                        </li>
                        <li>
                            <a id="buttonExplanation">Help</a></i>
                        </li>
                        <li>
                        <a id="linkToFeedback"> <span class="glyphicon glyphicon-chevron-right"></span> Feedback</a>
                        </li>
                    </ul>
                </div>
              </div>
            </nav>
    
        <div class="container">
                <div id="map-wrapper">
                    <div class="row">
                        <div class="col-md-9">
                        <div class="row">
                            <div id="map"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-4"></div>
                            <div class="col-md-4 text-center">
                                <div id="button-wrapper">
                                    <div id="button-wrapper-category">
                                        <button type="button" class="btn btn-primary button-category" id="button-event">
                                            <i class="fa fa-smile-o fa-6"></i>
                                            <div class="button-category-subtitle">Event</div>
                                        </button>
                                        <button type="button" class="btn btn-primary button-category" id="button-lovely">
                                            <i class="fa fa-heart fa-6"></i>
                                            <div class="button-category-subtitle">Lovely</div>
                                        </button>
                                        <button type="button" class="btn btn-primary button-category" id="button-sales">
                                            <i class="fa fa-star fa-6"></i>
                                            <div class="button-category-subtitle">Sales</div>
                                        </button>
                                        <button type="button" class="btn btn-primary button-category" id="button-mobility">
                                            <i class="fa fa-bus fa-6"></i>
                                            <div class="button-category-subtitle">Mobility</div>
                                        </button>
                                        <button type="button" class="btn btn-primary button-category" id="button-clean">
                                            <i class="fa fa-leaf fa-6"></i>
                                            <div class="button-category-subtitle">Clean</div>
                                        </button>
                                        <button type="button" class="btn btn-primary button-category" id="button-danger">
                                            <i class="fa fa-exclamation-circle fa-6"></i>
                                            <div class="button-category-subtitle">Danger</div>
                                        </button>
                                    </div>
                                    <div>
                                        <button type="button" class="btn btn-lg buttonAddMarker" id="buttonAddMarker">
                                            <i class="fa fa-plus fa-6"></i>
                                        </button>
                                        <button type="button" class="btn btn-lg buttonAddMarker-clicked" id="buttonAddMarker-clicked" onclick="discardEvent()"> <i class="fa fa-close fa-6"></i>
                                        </button>
                                        <button type="button" class="btn btn-lg buttonAddMarker-setMarker" id="buttonAddMarker-setMarker" onclick=""> <i class="fa fa-check fa-6"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4"></div>
                        </div>
                    </div>
                    <div class="col-md-3">
                         <div class="table-wrapper">
<!--                         <div class="list-loading"> <i class="fa fa-spinner fa-spin fa-6"></i></div>-->
                          <div class="list-group" id="list-group"></div>
                        </div>
                    </div>
                </div>
        </div>
    </div>

        <footer class="footer">
            <div class="container">
                <p class="text-muted">@rivutec 2016</p>
            </div>
        </footer>
        
        <!-- Modal -->
<div class="modal" id="modal_Explanation" tabindex="-1" role="dialog" aria-labelledby="modal_ExplanationLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Explanation</h4>
      </div>
      <div class="modal-body">
          <p>The following tool shows live events in your neighbourhood. </p>
          <p>There are three kind of events:</p>
          
           <ol>
          <li><b>Event:</b> Enjoyful events such as live music on the street, street sales, etc. that are happing right now</li>
          <li><b>Info:</b> Events that neither have a positive or negative meaning, but could be interesting to others.</li>
          <li><b>Warning:</b> Negative events such as crime incidents, accidents, etc. that are happing right now or just happened</li>
        </ol> 
              
           <p> For you to get the highest payout from this MTURK HIT, you are required to complete two tasks. </p>
          
         <p> <b>First</b>, try out the tool, add events by clicking on the button at the bottom of the page.</p>
          
 <p> <b>Second</b>, go to the next page and give us some feedback on your experience. The quality of your feedback and ideas will determine your payout. </p>
Thank you and have fun!
      </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
        
        <!-- Modal Description -->
        <div class="modal" id="modal_Description" tabindex="-1" role="dialog" aria-labelledby="modal_Description" data-backdrop="static" data-keyboard="false">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header" id="modal_Description_Header">
                <h4 class="modal-title" id="myModalLabel">New Event</h4>
              </div>
              <div class="modal-body">
                  <div id=modal-buttonWrapper>
                   <button type="button" class="btn btn-primary btn-success btn-modal button-saveevent" onclick="showTimerange(this);" ><i class="fa fa-arrow-right fa-6"></i></button>
                   <button type="button" class="btn btn-default btn-warning btn-modal button-closemodal" onclick="discardEvent();" ><i class="fa fa-times fa-6"></i></button>
                  </div>
                  <form>
                      <div class="form-group" id='from-group-tag'>
                       <label for="modalMarker_Category">Tag</label>
                        <input class="form-control" type="text" id="input-categoryTags" placeholder="Short and simple - what's happening?">
                        <div id="input-categoryTags-error"></div>
                        <label for="modalMarker_Description">Description</label>
                        <textarea class="form-control" rows="3" id="eventDescription" placeholder="Woud you like to add some more information?"></textarea>
                      </div>
                    </form>
              </div>
              <div class="modal-footer">
              </div>
            </div>
          </div>
        </div>
        <!-- Modal Description -->
        
        <!-- Modal Timerange -->
        <div class="modal" id="modal_Timerange" tabindex="-1" role="dialog" aria-labelledby="modal_Timerange" data-backdrop="static" data-keyboard="false">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header" id="modal_Timerange_Header">
                <h4 class="modal-title" id="myModalLabel">New Event</h4>
              </div>
              <div class="modal-body">
                  <div id=modal-buttonWrapper>
                    <button type="button" class="btn btn-primary btn-success btn-modal button-saveevent" id="buttonSaveEvent" onclick="saveEvent();" ><i class="fa fa-check fa-6"></i></button>
                     <button type="button" class="btn btn-default btn-warning btn-modal button-closemodal" onclick="discardEvent();" ><i class="fa fa-times fa-6"></i></button>
                  </div>
                  <form>
                      <div class="form-group">
                          <label for="modalMarker_Timerange" id="amount">
                              <div type="text" id="amount"></div>
                          </label>
                      </div>
                      <div class="form-group">
                          <label for="modalMarker_Timerange" id="amount">
                              <div type="text" id="amount"></div>
                          </label>
                          <div id="modalMarker_Timerange"></div>
                      </div>
                    </form>
              </div>
              <div class="modal-footer">
              </div>
            </div>
          </div>
        </div>
        <!-- Modal Timerange -->
        
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        
        <script src="//code.jquery.com/jquery-1.10.2.js"></script>
        <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
        <script src="{% static 'geomap/js/jquery.ui.touch-punch.min.js' %}"></script>
        
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="{% static 'geomap/bootstrap/js/bootstrap.min.js' %}"></script>
        
        <!-- JS: Leaflet  -->
        <script src='https://api.mapbox.com/mapbox.js/v2.2.3/mapbox.js'></script>
        <script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-locatecontrol/v0.43.0/L.Control.Locate.min.js'></script>
        <!-- JS: selectize  -->
<!--        <script type="text/javascript" src="selectize.js"></script>-->
        <script src="{% static 'geomap/selectize/js/standalone/selectize.js' %}"></script>


<!--        <script src="{% static 'geomap/js/leaflet.extra-markers.min.js' %}" /></script>-->
<!--        <script src="{% static 'geomap/leaflet/leaflet.js' %}"></script>-->
        
        <!-- Google API -->
<!--        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyANQYxP-lNK7CRRjjTixFzHLtXWcqXO7Gg&libraries=places"></script>-->
        
        <!-- JS: Map  -->
        <script src="{% static 'geomap/js/csrfSafeMethod.js' %}"></script>
        
        <script src="{% static 'geomap/js/script.js' %}"></script>
        
        <script>
            var name = window.location.href.replace('/map/','/feedback/');
            document.getElementById('linkToFeedback').setAttribute('href', name);
        </script>
        
    </body>
</html>


