<html>
    <head>
        {% load staticfiles %}
        <!--disable unwanted scaling of the page-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <!-- JS: Leaflet  -->
        <link href='https://api.mapbox.com/mapbox.js/v2.2.3/mapbox.css' rel='stylesheet' />
        <link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-locatecontrol/v0.43.0/L.Control.Locate.mapbox.css' rel='stylesheet' />
        <link rel="stylesheet" type="text/css" href="{% static 'geomap/css/leaflet.extra-markers.min.css' %}" />
        
        <!-- Custom Bootstrap -->
        <link rel="stylesheet" type="text/css" href="{% static 'geomap/bootstrap/css/bootstrap.min.css' %}" />
    
        <!-- CSS: font-awesome  -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        
        <!-- CSS: jquery  -->
        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
        
        <!-- Custom Style -->
        <link rel="stylesheet" type="text/css" href="{% static 'geomap/css/style.css' %}" />
    
    </head>
    <body> 
        <nav class="navbar navbar-inverse navbar-fixed-top">
              <div class="container">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="#">Mood map</a>
                </div>
                  <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="nav navbar-nav navbar-right">
<!--
                        <li>
                            <a><span class="glyphicon glyphicon-user"></span> User</a>
                        </li>
                        <li>
                            <a><span class="glyphicon glyphicon-asterisk"></span> Settings</a>
                        </li>
-->
                        <li>
                            <a id="buttonExplanation">Explanation</a>
                        </li>
                        <li>
                        <a id="linkToFeedback"> <span class="glyphicon glyphicon-chevron-right"></span> Next</a>
                        </li>
                    </ul>
                </div>
              </div>
            </nav>
    
        <div class="container">
                <div id="map-wrapper">
                    <div class="row">
                        <div class="row">
                        <div class="col-lg-1"></div>
                          <div class="col-lg-6">
                            <div class="input-group" id="custom-search-input">
                              <input type="text" id="autocomplete" class="form-control" placeholder="Search for...">
                                <span class="input-group-btn">
                                <button class="btn btn-default btnSearch" id="buttonSearch" type="button">
                                    <i class="glyphicon glyphicon-search"></i>
                                </button>
                              </span>
                            </div><!-- /input-group -->
                          </div><!-- /.col-lg-6 -->
                        </div><!-- /.row -->
                        <div class="col-md-2"></div>
                    </div>
                    <div class="row">
                        <div id="map"></div>
                    </div>                    
                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-4 text-center">
                            <div id="button-wrapper">
                                <div id="button-wrapper-category">
                                    <button type="button" class="btn btn-primary button-category" id="button-event"> 
                                        <i class="fa fa-smile-o fa-6"></i>
                                        <div style="font-size: 20;">Event</div>
                                    </button>
                                    <button type="button" class="btn btn-primary button-category" id="button-info"> 
                                        <i class="fa fa-info-circle fa-6"></i>
                                        <div style="font-size: 20;">Info</div>
                                    </button>
                                    <button type="button" class="btn btn-primary button-category" id="button-warning"> 
                                        <i class="fa fa-exclamation-circle fa-6"></i>
                                        <div style="font-size: 20;">Warning</div>
                                    </button>
                                </div>
                                <div>
                                    <button type="button" class="btn btn-lg" id="buttonAddMarker"> 
                                        <i class="fa fa-plus fa-6"></i>
                                    </button>
                                </div> 
                            </div>
                        </div>
                        <div class="col-md-4"></div>
                    </div> 
                </div>
        </div>
        
        <footer class="footer">
            <div class="container">
                <p class="text-muted">@rivutec 2016</p>
            </div>
        </footer>
        
        <!-- Modal -->
<div class="modal" id="modal_Explanation" tabindex="-1" role="dialog" aria-labelledby="modal_ExplanationLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Explanation</h4>
      </div>
      <div class="modal-body">
          <p>The following tool shows live events in your neighbourhood. </p>
          <p>There are three kind of events:</p>
          
           <ol>
          <li><b>Event:</b> Enjoyful events such as live music on the street, street sales, etc. that are happing right now</li>
          <li><b>Info:</b> Events that neither have a positive or negative meaning, but could be interesting to others.</li>
          <li><b>Warning:</b> Negative events such as crime incidents, accidents, etc. that are happing right now or just happened</li>
        </ol> 
              
           <p> For you to get the highest payout from this MTURK HIT, you are required to complete two tasks. </p>
          
         <p> <b>First</b>, try out the tool, add events by clicking on the button at the bottom of the page.</p>
          
 <p> <b>Second</b>, go to the next page and give us some feedback on your experience. The quality of your feedback and ideas will determine your payout. </p>
Thank you and have fun!
      </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
        
        <!-- Modal Description -->
        <div class="modal" id="modal_Description" tabindex="-1" role="dialog" aria-labelledby="modal_Description" data-backdrop="static" data-keyboard="false">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">New Event</h4>
              </div>
              <div class="modal-body">
                  <div id=modal-buttonWrapper>
                   <button type="button" class="btn btn-primary btn-success btn-modal button-saveevent" onclick="showTimerange(this);" ><i class="fa fa-arrow-right fa-6"></i></button>
                   <button type="button" class="btn btn-default btn-warning btn-modal button-closemodal" onclick="discardEvent();" ><i class="fa fa-times fa-6"></i></button>
                  </div>
                  <form>
                      <div class="form-group">
                        <label for="modalMarker_Description">Description</label>
                        <textarea class="form-control" rows="3" id="eventDescription" placeholder="Tell us what's happening"></textarea>
                      </div>
                    </form>
              </div>
              <div class="modal-footer">
              </div>
            </div>
          </div>
        </div>
        <!-- Modal Description -->
        
        <!-- Modal Timerange -->
        <div class="modal" id="modal_Timerange" tabindex="-1" role="dialog" aria-labelledby="modal_Timerange" data-backdrop="static" data-keyboard="false">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">New Event</h4>
              </div>
              <div class="modal-body">
                  <div id=modal-buttonWrapper>
                    <button type="button" class="btn btn-primary btn-success btn-modal button-saveevent" id="buttonSaveEvent" onclick="saveEvent();" ><i class="fa fa-check fa-6"></i></button>
                     <button type="button" class="btn btn-default btn-warning btn-modal button-closemodal" onclick="discardEvent();" ><i class="fa fa-times fa-6"></i></button>
                  </div>
                  <form>
                      <div class="form-group">
                          <label for="modalMarker_Timerange" id="amount">
                              <div type="text" id="amount"></div>
                          </label>
                      </div>
                      <div class="form-group">
                          <label for="modalMarker_Timerange" id="amount">
                              <div type="text" id="amount"></div>
                          </label>
                          <div id="modalMarker_Timerange"></div>
                      </div>
                    </form>
              </div>
              <div class="modal-footer">
              </div>
            </div>
          </div>
        </div>
        <!-- Modal Timerange -->
        
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        
        <script src="//code.jquery.com/jquery-1.10.2.js"></script>
        <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
        <script src="{% static 'geomap/js/jquery.ui.touch-punch.min.js' %}"></script>
        
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="{% static 'geomap/bootstrap/js/bootstrap.min.js' %}"></script>
        
        <!-- JS: Leaflet  -->
        <script src='https://api.mapbox.com/mapbox.js/v2.2.3/mapbox.js'></script>
        <script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-locatecontrol/v0.43.0/L.Control.Locate.min.js'></script>
        <script src="{% static 'geomap/js/leaflet.extra-markers.min.js' %}" /></script>
<!--        <script src="{% static 'geomap/leaflet/leaflet.js' %}"></script>-->
        
        <!-- Google API -->
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyANQYxP-lNK7CRRjjTixFzHLtXWcqXO7Gg&libraries=places"></script>
        
        <!-- JS: Map  -->
        <script src="{% static 'geomap/js/csrfSafeMethod.js' %}"></script>
        
        <script src="{% static 'geomap/js/script.js' %}"></script>
        
        <script>
            var name = window.location.href.replace('/map/','/feedback/');
            document.getElementById('linkToFeedback').setAttribute('href', name)
    
            var events_Type = {{events_Type | safe}}
            var events_Lat = {{events_Lat | safe}}
            var events_Lng = {{events_Lng | safe}}
            var events_Description = {{events_Description | safe}}
            
            //add cafe, books store, and university geoJSON layers with styling
            var markersGeojson = L.mapbox.featureLayer()
            .setGeoJSON({{ event_geoJSON | safe }})
            //wait for the layer to be "on", or "loaded", to use a function that will setIcon with an L.icon object
            markersGeojson.eachLayer(function(marker) {
                if (marker.feature.properties.popup !== ""){
                      marker.bindPopup(marker.feature.properties.popup);
                }
            }).addTo(map);
                   
        </script>
        
    </body>
</html>


