<!DOCTYPE html>
<html lang="de">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- META DATA -->
    <title>rivutec | Echtzeit Überwachung von Anlagen und Predictive Maintenance</title>
    <meta name="description" content="Überwachung und Analyse für Anlagen im Mittelstand">
    <meta name="keywords" content="Überwachung,Sensoren,Predictive Maintenance,Mittelstand,Cloud,Big Data, Machine Learning, Manufacturing, Preventive Maintenance,Germany,Startup,Rapid Prototyping, IoT, Internet of Things, Internet der Dinge, Industrial Internet, Industrie 4.0">
    <meta name="author" content="Christoph Grossbaier, rivutec">
    
    <!-- ICON -->
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="http://www.rivutec.com/img/icon/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://www.rivutec.com/img/icon/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://www.rivutec.com/img/icon/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://www.rivutec.com/img/icon/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="http://www.rivutec.com/img/icon/apple-touch-icon-60x60.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="http://www.rivutec.com/img/icon/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="http://www.rivutec.com/img/icon/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="http://www.rivutec.com/img/icon/apple-touch-icon-152x152.png" />
    <link rel="icon" type="image/png" href="http://www.rivutec.com/img/icon/favicon-196x196.png" sizes="196x196" />
    <link rel="icon" type="image/png" href="http://www.rivutec.com/img/icon/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="http://www.rivutec.com/img/icon/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="http://www.rivutec.com/img/icon/favicon-16x16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="http://www.rivutec.com/img/icon/favicon-128.png" sizes="128x128" />
    <meta name="application-name" content="rivutec | Echtzeit Überwachung"/>
    <meta name="msapplication-TileColor" content="#FCFFF5" />
    <meta name="msapplication-TileImage" content="http://www.rivutec.com/img/icon/mstile-144x144.png" />
    <meta name="msapplication-square70x70logo" content="http://www.rivutec.com/img/icon/mstile-70x70.png" />
    <meta name="msapplication-square150x150logo" content="http://www.rivutec.com/img/icon/mstile-150x150.png" />
    <meta name="msapplication-wide310x150logo" content="http://www.rivutec.com/img/icon/mstile-310x150.png" />
    <meta name="msapplication-square310x310logo" content="http://www.rivutec.com/icon/img/mstile-310x310.png" />
    
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/landing-page.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
            
</head>

<body>

    <!-- Navigation -->
    <div id="Navigation"></div>
    <!-- / Navigation -->

    <!-- Header -->
    <div class="intro-header-subpage">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Technologie</h1>
                </div>
            </div>

        </div>
        <!-- /.container -->
    </div>
    <!-- /.intro-header -->
    
    <!-- Page Content -->
    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="section-heading">Sensor-Cloud-Systeme</h2>
                    <p class="lead">rivutec ermöglicht es mittelständigen Unternehmen schnell die Einsatzgebiete von Sensoren mit Internetanbindung zu identifizieren und zu testen.
                    </p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                </div>
            </div>

        </div>
        <!-- /.container -->
    </div>
    <!-- /.content-section-a -->

    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <h2 class="section-heading">Schnelle Einbindung von Sensoren</h2>
                    <p class="lead">Unser Systemdesigner ermöglicht den schnellen Anschluss von Sensoren in die Cloud und die sofortige Verarbeitung der Daten.</p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                     <img class="img-responsive" src="img/Technologie/Systemdesigner.png" alt="">
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
    <!-- /.content-section-b -->

    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <h2 class="section-heading">Intuitive Datenanalyse</h2>
                    <p class="lead">Mit dem Analyser werden mögliche interessante Erkenntnisse aus den Daten automatisiert identifiziert und mit dem unternehmenseigenen Wissen verknüpft.
                    </p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="img/Technologie/Analyser.png" alt="">   
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
    <!-- /.content-section-a -->
    
    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <h2 class="section-heading">Definition von Dashboards</h2>
                    <p class="lead">Mit dem Dashboard Designer werden Livedaten schnell und einfach sichtbar. Erkenntnisse können für die statistische Modellierung eingesetzt werden.
                    </p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                     <img class="img-responsive" src="img/Technologie/Dashboard.png" alt="">
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
    <!-- /.content-section-b -->

	<!-- Banner -->
    <div id="Banner"></div>
    <!-- / Banner -->

    <!-- Footer -->
    <div id="Footer"></div>
    <!-- / Footer -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>
    
    <!-- Load HTMLs JavaScript -->
    <script src="js/loadHTMLs.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Google Analytics JavaScript -->
    <script src="js/googleAnalytics.js"></script>
    
</body>

</html>
