<!DOCTYPE html>
<html lang="de">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- META DATA -->
    <title>rivutec | Echtzeit Überwachung von Anlagen und Predictive Maintenance</title>
    <meta name="description" content="Überwachung und Analyse für Anlagen im Mittelstand">
    <meta name="keywords" content="Überwachung,Sensoren,Predictive Maintenance,Mittelstand,Cloud,Big Data, Machine Learning, Manufacturing, Preventive Maintenance,Germany,Startup,Rapid Prototyping, IoT, Internet of Things, Internet der Dinge, Industrial Internet, Industrie 4.0">
    <meta name="author" content="Christoph Grossbaier, rivutec">
    
    <!-- ICON -->
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="http://www.rivutec.com/img/icon/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://www.rivutec.com/img/icon/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://www.rivutec.com/img/icon/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://www.rivutec.com/img/icon/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="http://www.rivutec.com/img/icon/apple-touch-icon-60x60.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="http://www.rivutec.com/img/icon/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="http://www.rivutec.com/img/icon/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="http://www.rivutec.com/img/icon/apple-touch-icon-152x152.png" />
    <link rel="icon" type="image/png" href="http://www.rivutec.com/img/icon/favicon-196x196.png" sizes="196x196" />
    <link rel="icon" type="image/png" href="http://www.rivutec.com/img/icon/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="http://www.rivutec.com/img/icon/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="http://www.rivutec.com/img/icon/favicon-16x16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="http://www.rivutec.com/img/icon/favicon-128.png" sizes="128x128" />
    <meta name="application-name" content="rivutec | Echtzeit Überwachung"/>
    <meta name="msapplication-TileColor" content="#FCFFF5" />
    <meta name="msapplication-TileImage" content="http://www.rivutec.com/img/icon/mstile-144x144.png" />
    <meta name="msapplication-square70x70logo" content="http://www.rivutec.com/img/icon/mstile-70x70.png" />
    <meta name="msapplication-square150x150logo" content="http://www.rivutec.com/img/icon/mstile-150x150.png" />
    <meta name="msapplication-wide310x150logo" content="http://www.rivutec.com/img/icon/mstile-310x150.png" />
    <meta name="msapplication-square310x310logo" content="http://www.rivutec.com/icon/img/mstile-310x310.png" />
    
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/landing-page.css" rel="stylesheet">

    <!-- Custom Fonts -->
<!--    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">-->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    
</head>

<body>

    <!-- Navigation -->
    <div id="Navigation"></div>
    <!-- / Navigation -->

    <!-- Header -->
    <a name="about"></a>
    <div class="intro-header-subpage">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Unternehmen</h1>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

         <!-- Page Content -->
    
    <div class="content-section-company"> 
        <div class="container">
        rivutec befindet sich aktuell in der Gründung.
        </div>
    </div>
        <div class="content-section-management">    
        <div class="container">
            <h2 class="page-header-sub">Geschäftsführung</h2>
        <div class="row">
            
            <!-- Person -->
            <div class="col-md-4 portfolio-item" style="padding-top: 10px;">
                    <img class="img-responsive img-circle img-responsive-unternehmen" src="img/Unternehmen/Grossbaier_CUT.jpg" alt="">
                <h3>
                    <div class='nameName'>Christoph Großbaier</div>
                </h3>
                <h4>
                    <div class='namePosition'>Produkt und Finanzen </div>
                </h4>
                
                <div class='nameDescription'>
                
                    <p>Bevor Christoph rivutec gründete, war er bei dem Smart Grid Startup Venios für Finanzen zuständig und koordinierte als Projekt- und Produktmanager operative Projekte. Davor arbeitete er u.a. bei EY und Oliver Wyman.</p>
                <p>Christoph ist Wirtschaftsingenieur und hat Abschlüsse von der University of Cambridge (mit Auszeichnung und Jahrgangsbester) und dem Karlsruher Institut für Technologie.</p>
                <p>Während seines Studiums war Christoph Stipendiat der Studienstiftung des deutschen Volkes, der Konrad-Adenauer-Stiftung als auch des DAADs und ist Preisträger des Rolls-Royce-Preises für seine Leistungen an der University of Cambridge.</p>

                <h4>
                <div class='nameLinks'>
                <a href='https://de.linkedin.com/in/cgrossbaier' target="_blank"><i class="fa fa-linkedin-square fa-2x"></i></a>
                <a href='https://www.xing.com/profile/Christoph_Grossbaier' target="_blank"><i class="fa fa-xing-square fa-2x"></i></a>
                <a href='https://twitter.com/cgrossbaier' target="_blank"><i class="fa .fa-envelope-o"></i></a>
                <a href='https://github.com/cgrossbaier' target="_blank"><i class="fa fa-github-square fa-2x"></i></a>
                </div>
                </h4>
                </div>
            </div>
            <!-- /Person -->
        </div>
        <!-- /.row --> 
        
    </div>
    </div>
    <!-- Banner -->
    <div id="Banner"></div>
    <!-- / Banner -->       

    <!-- Footer -->
    <div id="Footer"></div>
    <!-- / Footer -->
    
    
    <!-- jQuery -->
    <script src="js/jquery.js"></script>
    
    <!-- Load HTMLs JavaScript -->
    <script src="js/loadHTMLs.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Google Analytics JavaScript -->
    <script src="js/googleAnalytics.js"></script>
    
    
    </script>
    
    
</body>

</html>
